body {
  height: 100vh;
  position: relative;
  padding: 3% 10%;
}
button {
  cursor: pointer;
}

/* Header */

header {
  position: relative;
  margin: 0 8%;
  display: flex;
  justify-content: space-between;
  font-family: "AritaBuriKR-Bold";
}
header .blind {
  display: block;
  width: 0;
  height: 0;
  overflow: hidden;
}
header h1 a {
  display: block;
  width: 162px;
  height: 30px;
  background-image: url(../img/logo_b.png);
  background-repeat: none;
}
header #gnb {
  display: flex;
}
header #gnb .dep1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
header #gnb .dep1 > li {
  align-items: center;
  padding: 1% 3%;
}
header #gnb .dep2_wrap {
  display: none;
  padding: 0 0 0 18.6%;
  position: absolute;
  right: 0;
  top: 47px;
  width: 100vw;
  height: 150px;
  background: #fff;
}
header #gnb .dep2 {
  display: flex;
  gap: 50px;
}
header #gnb .dep2 > li {
  padding: 20px;
  width: 200px;
}
header #gnb .dep3 {
  display: flex;
  flex-direction: column;
  padding: 3% 0;
  color: #777;
}
header .header_util {
  display: flex;
  align-items: center;
  gap: 15px;
}

/* Main */
.main_wrap {
  margin: 5% 8%;
  padding: 2% 0 0 0;
  display: flex;
  gap: 120px;
  font-family: "BookkMyungjo_Light";
}
.main_wrap .main_img {
  width: 50%;
  height: 100%;
}
.main_wrap .main_content {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 50%;
}
.main_wrap .oain_title {
  font-family: "BookkMyungjo_Bold";
  font-size: 26px;
}
.main_wrap .oain_best {
  position: absolute;
  left: 25%;
  top: 5%;
  padding: 1%;
  background: #1a1a1a;
  color: #fafafa;
  font-size: 14px;
}
.main_wrap .price {
  font-family: "BookkMyungjo_Bold";
  font-size: 20px;
  padding: 0 0 0 1%;
}
.main_wrap .cupon {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: 1px solid #999;
  position: relative;
  border-radius: 10px;
  padding: 5%;
  margin: 3% 0 0 0;
  width: 90%;
}
.main_wrap .cupon span:nth-child(2) {
  font-size: 22px;
  font-family: "BookkMyungjo_Bold";
}
.main_wrap .cupon .download {
  display: flex;
  align-items: center;
  gap: 5px;
  position: absolute;
  top: 35%;
  right: 13%;
  padding: 1.3%;
  background: #1a1a1a;
  border-radius: 10px;
  font-size: 14px;
  color: #fafafa;
}
.main_wrap .cupon .download > img {
  width: 15px;
  height: 15px;
  cursor: pointer;
}
.main_wrap .main_content .main_service {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 5%;
  padding-top: 10%;
  border-top: 1px solid #999;
}
.main_wrap .main_content .main_service > span {
  font-size: 14px;
  font-family: "BookkMyungjo_Bold";
}
.main_wrap .main_content .main_service .point {
  font-size: 12px;
  font-family: "BookkMyungjo_Light";
}
.main_wrap .main_content .main_service #delivery {
  border: 1px solid #777;
  padding: 1%;
  width: 20%;
}

/* .main_wrap .count_wrap {
  gap: 30px;
  width: 90%;
  padding: 3%;
  margin-top: 8%;
  border: 1px solid #777;
} */

.main_wrap .main_content .count_wrap {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 90%;
  padding: 3%;
  margin-top: 8%;
  background: #fafafa;
}
.count_btn {
  border: 1px solid #ddd;
  overflow: hidden;
  width: calc(52px + 34px);
  display: flex;
  align-items: center;
}
.count_btn > button {
  position: relative;
  border: 0;
  background: #fff;
  color: #000;
  width: 24px;
  height: 24px;
  font-size: 14px;
}
.count_btn .inp {
  border: 1px solid #ddd;
  height: 24px !important;
  display: block;
  width: 100%;
  padding: 0;
  flex-grow: 1;
  flex-basis: 0;
  text-align: center;
  font-size: 14px;
}
.main_wrap .main_content .count_wrap span:last-child {
  position: absolute;
  right: 15%;
  bottom: 31%;
  font-size: 14px;
}
.main_wrap .main_content .main_price {
  margin: 8% 10% 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}
.main_wrap .main_content .main_price .last_price {
  font-size: 24px;
  font-weight: bold;
}
.main_wrap .main_content .main_button {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 5% 0 0 0;
}
.main_wrap .main_content .main_button .button_box {
  display: flex;
  gap: 10px;
}
.main_wrap .main_content .main_button .product {
  border: 1px solid #404040;
  background: #404040;
  color: #fafafa;
  padding: 2.3% 10%;
  font-size: 14px;
  border-radius: 30px;
}
.main_wrap .main_content .main_button .product:hover {
  background: #202020;
}
.main_wrap .main_content .main_button .gift,
.cart {
  border: 1px solid #ddd;
  padding: 2.3% 10%;
  font-size: 14px;
  border-radius: 30px;
}
.main_wrap .main_content .main_button .gift:hover {
  border: 1px solid #1a1a1a;
}
.main_wrap .main_content .main_button .cart:hover {
  border: 1px solid #1a1a1a;
}
.main_wrap .main_content .main_promotion {
  display: flex;
  gap: 10px;
  padding: 0 2% 0 0;
  font-family: "SUIT-Regular";
  font-size: 14px;
}
.main_wrap .main_content .main_promotion .npay {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #00de5a;
  background: #00de5a;
  padding: 2.5% 33%;
  border-radius: 60px;
}
.main_wrap .main_content .main_promotion .npay img {
  width: 18px;
}
.main_wrap .main_content .main_promotion button:last-child {
  border: 1px solid #ddd;
  border-radius: 50px;
  padding: 2.5% 3%;
}
.page_img {
  padding: 0 20%;
  margin: 3% auto;
}
